<h2 class="page-header">MyAlbums</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                {{#each albums as |album key|}}
                    <li class="list-group-item"><a href="/?albumId={{album.id}}">{{album.title}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                {{#each photos as |photo key|}}
                    <div class="col-md-3 mb-3">
                        <img src="{{photo.thumbnailUrl}}" data-full-url="{{photo.url}}" onclick="setFullImageSource()" alt="{{photo.title}}">
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-12 text-center">
            <img src="" id="full-image">
        </div>
    </div>
</div>
