<section id="album">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <h2 class="page-header">MyAlbums</h2>

                {{#each albums as |album key|}}
                    <li class="list-group-item"><a href="/?albumId={{album.id}}">{{album.title}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-8 ">
            <div class="row">
                {{#each photos as |photo key|}}
                    <div class="photos col-md-3 col-sm-6 mb-3 mt-5">
                        <img src="{{photo.thumbnailUrl}}" class="w-100" data-full-url="{{photo.url}}" onclick="setFullImageSource()" alt="{{photo.title}}">
                    </div>
                {{/each}}
                </div>
        </div>
        <div class="col-md-12 text-center py-3">
            <img src="" id="full-image" class="w-100">
        </div>
    </div>
</div>

</section>